body {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

/* Images */
.logo-icon {
    width: 55px;
    height: auto;
    flex: none;
}

img {
    width: 45%;
    height: auto;
    border-radius: 8px;
    flex-shrink: 0;
}

.icon {
    width: 100px;
    height: auto;
}

/* Lists and Links */
ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #eee;
}

/* Block 1 */
.block-1 {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: #F9FAF8;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #1F2937;
}

.text-image {
    display: flex;
    padding: 10%;
    gap: 5%;
    align-items: center;
    justify-content: center;
}

.text-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 48px;
    font-weight: 800;
    margin: 0;
}

.subtext {
    color: #E5E7EB;
    margin: 0;
}

button {
    background-color: #ba4e81;
    border-radius: 5px;
    border-color: transparent;
    padding: 8px 30px;
    color: white;
    font-weight: bold;
}